body {
  font-family: "Courier New", Courier, monospace;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.card-container {
  position: relative;
  width: 360px;
}

.card-front,
.card-back {
  width: 100%;
  height: 200px;
  background-color: #e0e0e0;
  border-radius: 10px;
  padding: 20px;
  position: absolute;
}

.card-front {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.total {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.chip-icon {
  width: 40px;
  height: 30px;
  background-color: orange;
  border-radius: 5px;
  position: absolute;
  top: 20px;
  right: 20px;
}

label {
  display: block;
  font-size: 12px;
  margin-top: 10px;
  font-weight: bold;
}

input[type="text"] {
  width: 100%;
  padding: 5px;
  margin-top: 3px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.card-details {
  display: flex;
  justify-content: space-around;
  gap: 30px;
}

.card-details input[type="text"] {
  width: 100%;
}

.expiration {
  display: flex;
  gap: 5px;
}

.expiration input[type="text"] {
  width: 40px;
}

.black-strip {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #333;
}


.card-back {
  top: 30px;
  left: 90px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cvv-container {
  align-self: flex-end;
  text-align: center;
  position: absolute;
  top: 150px;
}

.cvv-container input[type="text"] {
  width: 40px;
}

.submit-button {
  position: absolute;
  top: 340px;
  left: 980px;
  display: flex;
  padding: 8px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid #000;
  background-color: #e0e0e0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  cursor: pointer;
}
