.content {
  font-family: 'Times New Roman', sans-serif;
  width: 600px;
  margin: 40px auto;
  padding: 60px 80px;
  border:  1px solid #ccc;
}

.header {
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
}

.header h1 {
  font-size: 40px;
  letter-spacing: 2px;
  margin: 0;
}

.header h2 {
  color: #006eb6;
  font-size: 15px;
  margin: 10px 0 0 0;
  letter-spacing: 3px;
}

p {
  font-size: 20px;
  text-align: left;
  margin-bottom: 20px;
  line-height: 1.5;
}

em {
  font-style: italic;
  display: block;
  margin: 20px 0 10px 0;
  font-size: 20px;
}

.list {
  font-size: 20px;
  margin-left: 20px;
  padding: 0;
  list-style-position: inside;
  line-height: 1.5;
}

.list li {
  margin-bottom: 20px;
}

.logo {
  width: 150px;
  height: 150px;
  margin: 40px auto 0 auto;
  display: block;
}

footer {
  text-align: center;
  padding-top: 40px;
}

.dark {
  background-color: #333;
  color: white;
}

.dark h2{
  color: #A0D4ED;

}